<h1>Pirate</h1>
<p> <%="#{@new_pirate.name}"%> </p>
<p> <%="#{@new_pirate.weight}"%> </p>
<p> <%="#{@new_pirate.height}"%> </p>

<h2>Ship 1</h2>
<p> <%="#{@new_ship_1.name}"%> </p>
<p> <%="#{@new_ship_1.type}"%> </p>
<p> <%="#{@new_ship_1.booty}"%> </p>

<h2>Ship 2</h2>
<p> <%="#{@new_ship_2.name}"%> </p>
<p> <%="#{@new_ship_2.type}"%> </p>
<p> <%="#{@new_ship_2.booty}"%> </p>
